@model ChangePasswordViewModel

@{
    ViewData["Title"] = "Смяна на парола";
}

<h2>Смяна на парола</h2>

<div class="card p-4 shadow-sm">
    <form asp-action="ChangeReaderPassword" method="post">
        <input type="hidden" asp-for="Id" />

        <div class="mb-3">
            <label class="form-label">Име</label>
            <input type="text" class="form-control" value="@Model.FirstName" asp-for="FirstName" readonly />
        </div>

        <div class="mb-3">
            <label class="form-label">Презиме</label>
            <input type="text" class="form-control" value="@Model.MiddleName" asp-for="MiddleName" readonly />
        </div>

        <div class="mb-3">
            <label class="form-label">Фамилия</label>
            <input type="text" class="form-control" value="@Model.LastName" asp-for="LastName" readonly />
        </div>

        <div class="mb-3">
            <label class="form-label">Имейл</label>
            <input type="email" class="form-control" value="@Model.Email" asp-for="Email" readonly />
        </div>

        <div class="mb-3">
            <label asp-for="NewPassword" class="form-label"></label>
            <input asp-for="NewPassword" class="form-control" />
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="ConfirmNewPassword" class="form-label"></label>
            <input asp-for="ConfirmNewPassword" class="form-control" />
            <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Запази новата парола</button>
        <a asp-action="EditReader" asp-route-UserId="@Model.Id" class="btn btn-secondary">Назад</a>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
