@using LibrarySystem.Models
@model IEnumerable<LibraryUnitViewModel>

@{
    ViewData["Title"] = "Библиотечни единици";
}

<head>
    <title>@ViewData["Title"] - Библиотечна система</title>
    <style>
        .card {
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            overflow: hidden;
        }

        .card-img-top {
            height: 200px;
            object-fit: cover;
        }
    </style>
</head>

<h1>Библиотечни единици</h1>

<a asp-action="AddLibraryUnit" asp-controller="LibraryUnit" class="btn btn-primary mb-3">
    <i class="bi bi-plus-square"></i> Добави библиотечна единица
</a>

@if (Model == null || !Model.Any())
{
    <h2>Няма съществуващи библиотечни единици в системата</h2>
}
else
{
    <div class="row">
        @foreach (var unit in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="@unit.Image.DestinationLink" class="card-img-top" alt="Изображение на @unit.TitleName">
                    <div class="card-body">
                        <h5 class="card-title">@unit.TitleName</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Инвентарен номер: @unit.InventoryNumber</h6>
                        <p class="card-text">Състояние: @unit.Condition</p>
                    </div>
                    <div class="card-footer text-center">
                        <a asp-controller="LibraryUnit" asp-action="Details" asp-route-id="@unit.Id" class="btn btn-info btn-sm">
                            <i class="bi bi-eye"></i> Детайли
                        </a>
                        <a asp-controller="LibraryUnit" asp-action="UpdateLibraryUnit" asp-route-id="@unit.Id" class="btn btn-primary btn-sm">
                            <i class="bi bi-pen"></i> Редактирай
                        </a>
                        <a asp-controller="LibraryUnit" asp-action="Scrape" asp-route-id="@unit.Id" class="btn btn-danger btn-sm">
                            <i class="bi bi-trash3"></i> Бракувай
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
}
